
body{
    margin: 0;
    background-color: var(--background);
    min-height: 100vh;
    position: relative;
    padding-bottom: 130px;
}

.container {
    padding-bottom: 40px;
}

.bottom_bar{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

body .bottom_bar{
    z-index: 1;
}

.under_grid{
    width: max-content;
    height: max-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: 100%;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    margin-top: 15px;
    margin-bottom: 15px;
}

.under_image_circle{
    background-color: var(--secondary);
    width: max-content;
    height: max-content;
    padding: 16px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
}

.under_container{
    width: calc(100% + (100% - var(--width)));
    margin-left: calc((100% - var(--width)) / -2);
}

.under_image{
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.under_text{
    width: 100px;
    text-align: center;
    margin-top: 10px;
    color: white;
    opacity: 0.8;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.3px;
}

.under_icon{
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, max-content);
    margin-left: 7px;
    margin-right: 7px;
}

.back_img{
    width: 17px;
    margin-top: auto;
    margin-bottom: auto;
}

.eagle_text{
    font-size: 10px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: auto;
    height: max-content;
    line-height: 12px;
    margin-left: 1px;
    color: gray;
}

.action_grid{
    cursor: pointer;
    margin-left: 10px;
    display: grid;
    grid-template-columns: max-content max-content;
}

.title_text{
    font-size: 18px;
    color: #3b3c41;
    text-align: center;
    width: 100%;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
}

.id_data_grid{
    position: absolute;
    top: 27.4px;
    left: 46.5%;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    grid-auto-rows: 60px;
}

.data_value{
    color: #52575f;
    height: max-content;
    margin-top: -2px;
    margin-bottom: auto;
    font-weight: 500;
    font-size: 13.5px;
    letter-spacing: 0.3px;
}

.data_holder{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
}

.flag_video{
    position: absolute;
    top: 52%;
    left: 7.5%;
    width: 16.9%;
}

.eagle_text{
    position: absolute;
    top: 68.9%;
    left: 17.1%;
    width: 20%;
    font-size: 11px;
    letter-spacing: 0.6px;
}

.eagle_video{
    position: absolute;
    top: 66.2%;
    left: 7.7%;
    width: 7.88%;
    transform: scaleX(1.1);
}

.data_title{
    font-weight: 520;
    font-size: 19px;
    height: max-content;
    margin-top: auto;
    margin-bottom: 0px;
    letter-spacing: 0.5px;
}

.id_image_data{
    position: relative;
}

.id_image{
    z-index: -1;
    width: 100%;
    height: 420px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    z-index: -1;
    pointer-events: none;
    border-radius: 15px 15px 0px 0px;
}

.other_grid{
    margin-top: 10px;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.bottom_text{
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 12px;
}

.bottom_grid{
    position: relative;
    display: grid;
    grid-template-columns: max-content max-content max-content;
    height: 100%;
    width: max-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: auto;
}

.bottom_image{
    pointer-events: none;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
    filter: brightness(0) saturate(100%) invert(70%) sepia(30%) saturate(700%) hue-rotate(70deg) brightness(95%) contrast(95%);
}

.inset{
    box-shadow: inset 0px 0px 20px white;
    background-color: transparent;
    position: absolute;
    top: 5.5%;
    left: 8%;
    width: 35%;
    border-radius: 12px;
    height: 45%;
    z-index: 1;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.id_own_image{
    pointer-events: none;
    box-shadow: 0px 0px 5px white;
    position: absolute;
    top: 5.5%;
    left: 8%;
    width: 35%;
    border-radius: 12px;
    height: 45%;
    background-color: white;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    filter: grayscale(100%);
    image-rendering: -webkit-optimize-contrast;
}

.action_arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    width: 30px;
    order: 100;
    margin-top: auto;
    margin-bottom: auto;
    transition: transform 0.3s ease;
}

.info_holder .action_arrow{
    transform: rotate(90deg);
    top: 30px;
    bottom: auto;
}

.info_holder.unfolded .action_arrow{
    transform: rotate(270deg);
}

.id_bottom{
    border-radius: 0px 0px 15px 15px;
    background-color: var(--secondary);
    height: 70px;
    z-index: 1;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.back_text{
    color: #014A93;
    font-weight: 500;
    font-size: 18px;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
}

.help_img{
    width: 30px;
    margin-right: 10px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.top_grid{
    z-index: 1;
    background-color: #f5f6fb;
    position: fixed;
    top: -10px;
    height: 60px;
    left: 0;
    width: 100%;
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(3, calc(100% / 3));
}

.time_text{
    margin-top: 70px;
    margin-bottom: 20px;
    color: #9ea4ac;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.info_holder .bottom_grid{
    height: 90px;
}

.info_holder{
    height: unset;
    transition: 200ms;
    max-height: 90px;
}

.additional_holder{
    height: max-content;
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    margin-top: -2s0px;
}

.unfolded{
    height: unset;
    max-height: 1200px;
}

.additional_title{
    color: white;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: auto;
    height: max-content;
}

.additional_subtitle{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 20px;
    height: max-content;
}

.additional_grid{
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 0.1px solid var(--gray-border);
    margin-top: 5px;
    margin-bottom: 10px;
}

.confirm{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    width: 0%;
}

.opacity{
    background-color: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 400ms;
}

.page{
    transition: 400ms;
    height: 90%;
    position: fixed;
    bottom: 0;
    bottom: -2000px;
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 30px 30px 0 0;
}

.confirm_close{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--text);
    border-radius: 25px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: var(--text);
    font-weight: 400;
}

.confirm_title{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
    font-size: 17px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 40px;
}

.card{
    background-size: 100%;
    width: 90%;
    background-repeat: no-repeat;
    background-position: center;
    height: 220px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 20px;
}

.card_inner{
    width: 85%;
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}

.confirm_name{
    width: max-content;
    font-size: 25px;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
}

.confirm_description{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.confirm_button{
    background-color: var(--text);
    border-radius: 25px;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.page_other .confirm_title{
    margin-left: 0;
    margin-right: auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 10px;
}

.confirm_back{
    text-align: center;
    color: var(--text);
}

.page_open{
    width: 100%;
}

.page_open .opacity{
    opacity: 0.5;
}

.page_1_open .page_1{
    bottom: 0;
}

.page_2_open .page_2{
    bottom: 0;
}

.page_3_open .page_3{
    bottom: 0;
}
