
.login_wrapper{
    width: var(--width);
    max-width: 440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    max-height: 100vh;
    padding: 15px 0 0px;
    position: relative;
    z-index: 1;
    flex: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    margin: 0;
    padding: 0;
    background-color: transparent !important;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    font-family: "Poppins", "Roboto", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
}

.login_title{
    font-weight: 700;
    font-size: 23px;
    margin-top: 45px;
    text-align: center;
    color: white;
}

.info_box{
    position: absolute;
    top: 0;
    bottom: 0;
    border: 1px solid var(--gray);
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary);
    width: calc(90% - 40px);
    height: max-content;
    z-index: 1;
    padding: 20px;
    border-radius: 20px;
}

.info_description{
    color: white;
}

.info_title{
    margin-top: auto;
    margin-bottom: auto;
    width: max-content;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.info_join{
    background-color: var(--text);
    border-radius: 20px;
    height: 45px;
    width: 100%;
    line-height: 45px;
    color: black;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.info_close{
    background-color: transparent;
    border: 2px solid var(--text);
    border-radius: 20px;
    height: 45px;
    width: 100%;
    line-height: 45px;
    color: var(--text);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.password_box{
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
    padding: 12px 8px;
    background-color: var(--secondary);
    margin-left: 0;
    margin-right: 0;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 10px 35px rgba(0,0,0,0.35);
    box-sizing: border-box;
}

.password_grid{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    height: max-content;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.password_text{
    width: 100%;
    text-align: left;
    font-size: 15px;
    opacity: 0.7;
    margin-top: 20px;
    margin-left: 0px;
    color: white;
    margin-bottom: 2px;
}

.input_holder{
    position: relative;
}

.eye{
    background-image: url('assets/app/images/eye.png');
    position: absolute;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    right: 20px;
    width: 25px;
    height: 25px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.eye_close{
    background-image: url('assets/app/images/eye_closed.png');
}

.password_input{
    width: 100%;
    height: 65px;
    border-radius: 12px;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--gray);
    padding: 10px 15px;
    font-size: 15px;
    box-sizing: border-box;
}

.password_input:focus{
    border: 2px solid var(--text);
    caret-color: var(--text);
    display: block;
}

.forgot_password{
    color: var(--text);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 17px;
    margin-right: auto;
    margin-left: 0px;
    font-weight: 500;
}

.secondary_link{
    background: none;
    border: none;
    color: var(--text);
    font-size: 15px;
    margin-top: 5px;
    text-align: left;
    padding: 0;
    cursor: pointer;
}

.bottom{
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    max-width: 100%;
    grid-template-rows: max-content max-content;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: none;
    margin-top: auto;
    gap: 15px;
    padding: 0 8px 20px 8px;
    background-color: transparent;
    z-index: 10;
    box-sizing: border-box;
}

.login{
    color: black;
    line-height: 55px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: var(--text);
    height: 55px;
    border-radius: 8px;
    box-sizing: border-box;
}

.data{
    height: max-content;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-columns: 80px 100px auto auto;
    grid-template-rows: max-content;
    align-items: center;
    justify-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.logo_text{
    margin-top: auto;
    margin-bottom: auto;
    height: max-content;
    margin-left: 15px;
    font-weight: 600;
    font-size: 27px;
    color: white;
}

.welcome{
    font-weight: 600;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 0;
    height: max-content;
    color: white;
}

.background{
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    width: 100%;
    height: 100vh;
    height: 100%;
    min-height: 100vh;
    z-index: -10;
    background-color: #101317;
    background-image: url('images/aa4d7b5d-24c8-4502-b0df-08f11e441e4b.png') !important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: block !important;
    margin: 0;
    padding: 0;
}

.login_text{
    color: white;
    margin-top: 8px;
    margin-bottom: 0;
    opacity: 0.8;
    font-size: 18px;
}

.top_grid{
    margin-top: 10px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: 100%;
    height: max-content;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.top_text{
    display: grid;
    width: 100%;
    grid-template-rows: max-content max-content;
    margin-bottom: 5px;
}

.logo{
    width: 55px;
}

.logo_white{
    filter: brightness(0) invert(1);
}

.logo_mc_text{
    filter: contrast(1.5) brightness(1.2) saturate(0.3);
}

.logo_other{
    height: 18px;
    margin-left: 0px;
    margin-top: auto;
    margin-bottom: auto;
}

.version{
    margin: 0 auto;
    opacity: 0.5;
    color: white;
    font-size: 12px;
    text-align: center;
    width: 100%;
    display: block;
    height: max-content;
    margin-top: auto;
    margin-bottom: auto;
    width: max-content;
    margin-left: auto;
}

@media (max-width: 420px) {
    .login_wrapper{
        padding: 30px 0 40px;
    }
    .welcome{
        font-size: 28px;
    }
    .login_text{
        font-size: 16px;
    }
    .password_input{
        height: 55px;
        font-size: 14px;
    }
    .login{
        font-size: 18px;
        height: 50px;
        line-height: 50px;
    }
    .data{
        grid-template-columns: 60px 80px calc(100% - 140px);
    }
}