.container {
    margin-top: 60px;
}

.pesel_icon_wrapper {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(75, 164, 254, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: calc(-10% + 40px);
    margin-top: 10px;
    margin-bottom: 15px;
}

.pesel_icon_top {
    width: 60px;
    height: 60px;
    display: block;
}

.pesel_title {
    color: white;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: calc(-10% + 5px);
    padding-left: 5%;
    line-height: 1.5;
}

.pesel_description {
    color: white !important;
    font-size: 16px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 5%;
    padding: 0;
}

.pesel_action_box {
    width: 85%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.category_title {
    color: white !important;
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 5%;
}

.action_box_connected {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

