.container {
    margin-top: 60px;
}

.pesel_title {
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 5%;
}

.pesel_description {
    color: white !important;
    font-size: 16px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 5%;
    padding: 0;
}

.pesel_action_box {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.category_title {
    color: white !important;
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 5%;
}

.action_box_connected {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

